li{
  border: 2px solid blue;
  width: 200px;
  height: 300px;
  margin: 16px;
  padding: 8px;
}
p{
  margin: 8px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #2ba1c5;
  margin: 0;
  padding: 0;
}

/* סגנון לקישורים */
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* סגנון לכפתורים */
button {
  background-color: #007BFF;
  
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* סגנון לכותרת הדף */
h1 {
  font-size: 24px;
  color: #333;
}

/* סגנון לקובץ Trips */
#trips-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* סגנון ללוגו */
.logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
